# Question Number 1 &2

In [39]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [40]:
import selenium
import os

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = '/usr/local/bin/chromedriver'
driver = webdriver.Chrome(chromedriver)
driver.get('https://www.naukri.com/')

In [107]:
#driver.close()

In [98]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [70]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [101]:
job_titles =[]
company_names=[]
locations_list=[]
experience_list=[]

In [72]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="7431496a-9157-493e-90e1-65be4ec70dbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="d2efff92-ba04-4893-a3b2-0643a8273f41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="d7bd3bfb-dfac-4ae0-ae53-35df90ecc585")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="74fabfbe-b0fa-433d-8fa5-e65c37ea0bab")>]

In [73]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Data Scientist: Advanced Analytics',
 'Senior data scientist',
 'Healthcare Data Scientist',
 'Data Scientist: Advanced Analytics']

In [74]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="70fb97b3-f78a-42f0-92fc-9d6a651a1cfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="2792ceda-0eb6-44bd-ba4b-6d5913b5f02e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="f22cc973-d1c4-47f9-b1b4-ad2ae500ebab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="71dc1545-3862-494b-8632-a72adb49e260")>]

In [75]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:12]

['IBM India Pvt. Limited',
 'Compile Inc',
 'Accumed Practice Management DMCC',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Tarento Technologies Pvt Ltd',
 'Visa',
 'Tata Unistore',
 'Eli Lilly and Company',
 'mPokket',
 'Superior Group',
 'Idexcel Technologies Private Limited']

In [76]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="1d50a614-8c94-495d-9276-7ed4e9310d2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="21d24bfa-bbf8-4e1d-b31b-38e0d8e8b2aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="d9e926c3-8a0c-440f-895e-60b0f892d428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="244da196-ba1c-4bd0-804e-81932d7b426b")>]

In [77]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['5-7 Yrs', '5-10 Yrs', '3-8 Yrs', '5-10 Yrs']

In [78]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="53f7d18b-b4e8-4e35-a721-449162509428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="afc878a1-86bc-4647-bb96-88c933ed9762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="53e371d4-3a7d-432b-8929-bddf31842d60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1b724f8074593f287b2fe25c5b93bf5", element="445dc598-cce5-48bc-9f76-379256c4cc25")>]

In [79]:
for i in location_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:4]

['Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [80]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [81]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations_list

In [83]:
jobs[:10]

,title,company,experience_required,location
0,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,5-7 Yrs,Bengaluru/Bangalore
1,Senior data scientist,Compile Inc,5-10 Yrs,Bangalore/Bengaluru
2,Healthcare Data Scientist,Accumed Practice Management DMCC,3-8 Yrs,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
3,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru
4,Cognitive Data Scientist,IBM India Pvt. Limited,3-7 Yrs,Bangalore/Bengaluru
5,Data Scientist,Tarento Technologies Pvt Ltd,5-10 Yrs,Bangalore/Bengaluru
6,Senior Data Scientist,Visa,4-9 Yrs,Bangalore/Bengaluru
7,Data Scientist,Tata Unistore,3-7 Yrs,"Mumbai, Bangalore/Bengaluru"
8,Sr. Associate Consultant Data Scientist,Eli Lilly and Company,3-5 Yrs,Bangalore/Bengaluru
9,Sr. Data Scientist / Data Scientist For Bangal...,mPokket,3-8 Yrs,"Kolkata, Bangalore/Bengaluru"

# Question Number 3

In [87]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

In [88]:
import selenium
import os
import time

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = '/usr/local/bin/chromedriver'
driver1 = webdriver.Chrome(chromedriver)
driver1.get('https://www.naukri.com/')

In [89]:
#driver1.close()

In [90]:
search_job=driver1.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver1.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Delhi")
search_btn = driver1.find_element_by_xpath("//div[@class = 'search-btn']//button[@class = 'btn']")
search_btn.click()

In [91]:
time.sleep(3)
#Clicking the filter required.
Filter1 = driver1.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
Filter1.click()
time.sleep(3)
#Clicking the filter required.
Filter2 = driver1.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
Filter2.click()

job_title = []#title of job
company_name = []#title of Company
exp = []#Experience req
date = []# Date of post
loc = []#Location of the job

In [92]:
for i in driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")[:10]:
    exp.append(i.text)

exp

[]

In [93]:
time.sleep(3)

#sorting the required information and storing in the list.

for i in driver1.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'title fw500 ellipsis']")[:10]:
    job_title.append(i.text)

for i in driver1.find_elements_by_xpath("//div[@class = 'info fleft']//a[@class = 'subTitle ellipsis fleft']")[:10]:
    company_name.append(i.text)
    
for i in driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    exp.append(i.text)

for i in driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")[:10]:
    loc.append(i.text)        
        

for i in driver1.find_elements_by_xpath("//div[@class = 'type br2 fleft grey']//span[@class = 'fleft fw500']")[:10]:
    date.append(i.text)       
    
    
#driver1.quit()

In [117]:
print(len(job_title),len(company_name),len(loc),len(date))

10 10 10 10

In [96]:
#storing all the required information into DataFrame.

DataScientist_JOBDelhi= pd.DataFrame({ "JOB_TITLE" : job_title ,"COMPANY_NAME": company_name , 
                                           "LOCATION" : loc,
                                          "POST_DATE" : date})

In [97]:
DataScientist_JOBDelhi

,JOB_TITLE,COMPANY_NAME,LOCATION,POST_DATE
0,Data Scientist,LG Electronics India Pvt. Ltd.,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",7 DAYS AGO
1,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,Remote,14 DAYS AGO
2,Data Scientist,Navikenz India Pvt Ltd,"Noida, Nodia\n(WFH during Covid)",3 DAYS AGO
3,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...",NTT Data Business Solutions Pvt Ltd,"Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",15 DAYS AGO
4,Hiring For Data Analyst / Data Scientist,Careerera,Noida(Sector-59 Noida),15 DAYS AGO
5,Data Scientist,Whizhack Technologies pvt ltd,Gurgaon/Gurugram,15 DAYS AGO
6,Data Scientist,One Mobikwik Systems Private Limited,Gurgaon/Gurugram,14 DAYS AGO
7,Data Scientist/ Senior Data Scientist,Newgen Software Technologies,Noida,20 DAYS AGO
8,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",15 DAYS AGO
9,Urgent Hiring For Data Scientist | Work From O...,Careerera,Noida(Sector-59 Noida),15 DAYS AGO

# Question Number 5

In [106]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [107]:
import selenium
import os
import time

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = '/usr/local/bin/chromedriver'
driver = webdriver.Chrome(chromedriver)
driver.get('https://www.flipkart.com/')

In [108]:
#driver.maximize_window()

#closing the login Pop-up
time.sleep(3)
pop_up = driver.find_element_by_xpath("//div[@class='_2QfC02']/button[@class = '_2KpZ6l _2doB4z']")
pop_up.click()

prod_ser = driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@type = 'text']")
prod_ser.send_keys("sunglasses")

sub_button = driver.find_element_by_xpath("//div[@class = 'col-12-12 _2oO9oE']//button[@class = 'L0Z3Pu']")
sub_button.click()

In [109]:
#sorting the required information and storing in the list.
Brand = []
Product_Description= []
Price = []
Discount =[]

while True:
    
    time.sleep(3)
        
    for i in driver.find_elements_by_xpath("//div[@class= '_2B099V']//div[@class = '_2WkVRV']"):
        Brand.append(i.text)
        if len(Brand) == 100:
            break
            
    for i in driver.find_elements_by_xpath("//div[@class= '_2B099V']//a"):
        Product_Description.append(i.get_attribute('title'))
        if len(Product_Description) == 200:
            break
    
    for i in driver.find_elements_by_xpath("//div[@class= '_25b18c']//div[@class = '_30jeq3']"):
        Price.append(i.text) 
        if len(Price) == 100:
            break    
    for i in driver.find_elements_by_xpath("//div[@class= '_3Ay6Sb']/span"):
        Discount.append(i.text)
        if len(Discount) == 100:
            break  
            
    if len(Discount) == 100:
        break
        
    for j in driver.find_elements_by_xpath("//nav[@class ='yFHi8N']/a[@class = '_1LKTO3']"):
        next=[j.get_attribute("href")]
    
    time.sleep(3)
        
    for n in next:
        driver.get(n) 
    
driver.close() 

Product = [] # Since Product_Description have many unwanted information am following this method to clense it.
for i in range(0,len(Product_Description)):
    if i == 0 or  i/2 == i//2:
        Product.append(Product_Description[i])
        
        
#Creating DataFrame.
Flipkart_Sunglass = pd.DataFrame({"Brand": Brand, 
                                  "Product_Description": Product, 
                                  "Price": Price , 
                                  "Discount": Discount})
Flipkart_Sunglass

,Brand,Product_Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹261,83% off
1,PIRASO,"UV Protection Rectangular, Over-sized Sunglass...",₹349,88% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...,...
95,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
96,GANSTA,"UV Protection, Gradient Aviator Sunglasses (57)",₹224,82% off
97,kingsunglasses,"UV Protection, Others Round, Aviator Sunglasse...",₹189,81% off
98,IDEE,UV Protection Cat-eye Sunglasses (20),"₹1,089",51% off
99,PIRASO,UV Protection Aviator Sunglasses (58),₹299,88% off

In [140]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [144]:
import selenium
import os
import time

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = '/usr/local/bin/chromedriver'
driver = webdriver.Chrome(chromedriver)
#driver.get('https://www.flipkart.com/')

driver.get(" https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")
driver.maximize_window()

In [145]:
#sorting the required information and storing in the list.
Rating = []
Review_summary = []
Full_review = []

while True:
    time.sleep(3)
    
    for i in driver.find_elements_by_xpath("//div[@class = 'col _2wzgFH K0kLPL']//div[@class= 'row']/div"):
        Rating.append(i.text)
        if len(Rating) == 20:
            break 
            
    for i in driver.find_elements_by_xpath("//div[@class= 'row']//p[@class = '_2-N8zT']"):
        Review_summary.append(i.text)
        if len(Review_summary) == 10:
            break 
            
    for i in driver.find_elements_by_xpath("//div[@class= 't-ZTKy']//div[@class]"):
        Full_review.append(i.text.replace('\n',''))
        if len(Full_review) == 10:
            break 
        
    if len(Full_review) == 10:
        break    
                
    for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a[@class='_1LKTO3']"):
        next=[i.get_attribute("href")]
    
    time.sleep(3)
        
    for n in next:
        driver.get(n)

driver.close()

Rat = [] 
for i in range(0,len(Rating)):
    if i == 0 or  i/2 == i//2:
        Rat.append(Rating[i])

In [146]:
print(len(Rat),len(Review_summary),len(Full_review))

0 10 10

In [147]:
#Creating DataFrame
i_phone11_review = pd.DataFrame({
                     "Review_summary" : Review_summary,
                     "Full review" : Full_review})

i_phone11_review.head(30)

        Review_summary                                        Full review
0            Brilliant  The Best Phone for the MoneyThe iPhone 11 offe...
1       Simply awesome  Really satisfied with the Product I received.....
2  Best in the market!  Great iPhone very snappy experience as apple k...
3
4
5
6
7
8
9

# Question Number 7

In [152]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [153]:
import selenium
import os
import time

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = '/usr/local/bin/chromedriver'
driver = webdriver.Chrome(chromedriver)
#driver.get('https://www.flipkart.com/')

driver.get(" https://www.myntra.com/shoes.")
driver.maximize_window()

In [155]:
Brand,description,price = [], [], []
q = 0

while q<2:
    time.sleep(3)
    for i in driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//h3[@class = 'product-brand']"):
        Brand.append(i.text)
    
    for i in driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//h4[@class = 'product-product']"):
        description.append(i.text)
    
    for i in driver.find_elements_by_xpath("//div[@class= 'product-productMetaInfo']//div[@class = 'product-price']"):
        price.append(i.text)
    
    nxt = driver.find_element_by_xpath("//a[@rel = 'next']")
    nxt.click()
    q +=1

driver.close()     
price= [i.split('Rs. ')[1] for i in price]   

myntra_blackshoes = pd.DataFrame({"Brand":Brand,"description":description,"price":price})
myntra_blackshoes

              Brand                        description price
0              Nike     Men Revolution 5 Running Shoes  2771
1          Skechers      Women BOBS PULSE AIR Sneakers  2449
2   U.S. Polo Assn.         Men Solid Slip-On Sneakers  1299
3               H&M                Women Chelsea Boots  2429
4              Nike               Men Leather Sneakers  3146
..              ...                                ...   ...
95             DEAS                  Women Mules Flats   599
96            Metro        Women High-Top Heeled Boots  5490
97             Puma  Unisex Kids Woven Design Sneakers  1199
98           ADIDAS       Men Magnificeo Running Shoes  2529
99       HIGHLANDER                 Men Solid Sneakers   796

[100 rows x 3 columns]